@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@200;300&display=swap');
.home{
height: inherit;
width: 100%;
/* background-image: url("../assets/images/orfeusz_a_kozlekedesi_muzeumban.jpg"); */
background-image: url("../assets/images/orfeusz_a_kozlekedesi_muzeumban.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

/* max-height: inherit; */

/* display: flex; */



}
/* #title{
  position: absolute;
  width: 100vw;
  bottom: 0;
  right: 0;

  bottom: 25vh;
  display: flex;
  background-color: #00000094;
  justify-content: flex-end;
  padding-bottom: 1.8rem;

  

} */

/* How does home module css's span  affects mui skeleton span ? */

#name{

  position: absolute;
    right: 1px;
    bottom: 16vh;
    font-size: 5rem;
    line-height: 5.2rem;
    display: inline-block;
    color: white;

    font-family: 'Noto Serif SC', serif;
    letter-spacing: 0.5rem;
    font-weight: 200;




  /* position: absolute;
  right: 0;

  bottom: 6vh;
  font-size: 6rem;
  line-height: 5.2rem;
  display:inline-block;

  color: white;
  mix-blend-mode: difference;
  font-family: 'Noto Serif SC', serif;
  letter-spacing: 0.5rem;
  font-weight: 200; */
}




