.home{
height: inherit;
width: -webkit-fill-available;
background-image: url("../assets/images/orfeusz_a_kozlekedesi_muzeumban.jpg");
background-attachment: fixed;
background-size: cover;
background-position: center;
background-repeat: no-repeat;

/* max-height: inherit; */

display: flex;



}
h1{
  /* position: absolute;
  right: 0; */

  letter-spacing: 0.5rem;
  padding: 2rem;
  font-size: 6rem;

  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  /* color: rgb(158, 160, 163); */
  color:  #c7c7c7;
/* font-family: 'Open Sans', sans-serif;
font-family: 'Rubik', sans-serif; */



}


