#container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  gap: 1rem;
}

#linksContainer {
  display: flex;
  flex-direction: column;
  font-family: 'Source Sans Pro', sans-serif;
}

.textUrls {

  flex-direction: column;

}

.icons,
.textUrls {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.icons {
  justify-content: center;
}

h3 {
  border-radius: 10px;
  background-color: #151414;
  color: #c7c7c7;
  text-align: center;
  margin: 0.2rem;
}

a {

  color: #827F7E;
}


/* a:active {
  color: blue;
} */

#test {
  height: 100vh;
}