.popUp{
  position: absolute;
  justify-self: center;
  align-self: center;
  

}

.cover{
  position: absolute;
  width: 100%;
  height: 100vh;
  /* background-color:#0f0f0f; */
  background-color: white;
  left: 0;
}
#cancelIconBckgr{
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  right: -3rem;
  margin: 1rem;
}
.image{
  max-height: 95vh;
}