
.sideBar {
  padding-right: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #151414;
  color: #c7c7c7;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  flex-shrink: 0;

  position: static;

}

a {
  text-decoration: none;
}

.navLink {
  color: #c7c7c7;
  padding: 0 0rem 0 5rem;
}
.navLink:hover {
  color: white;
}

.activeStyle {
  padding: 0 0rem 0 5rem;
  color: white;
  border-block-end: 1px solid white;
  margin-right: auto;

}





@media screen and (max-width: 767px) {

  .sideBar{
    background-color: transparent;
    color: white;
    font-size: 34px;
    position: fixed;
    top: 0;
      width: 100vw;
      height: 100vh;
      overflow:hidden;
      z-index: 1;
      padding: 0;
     
      
  }

  .navLink {
    padding: 0 0 1rem 0;
    background-color: #151414e6;
    text-align: center;
    
  }

  .activeStyle {
    padding: 0 0 1rem 0;
    margin: 0;
    border-block-end:none;
    background-color: #151414e6;
    text-align: center;
  }

}